@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    font-weight: 100;
    margin: 50px;
    padding: 50px;
    transition: background-color 0.3s, color 0.3s;
}

/* Alternative background */

/* Default background */
.bg-image-0 {
    background-color: #f0f0f0;
}

/* Alternative backgrounds */
.bg-image-1 {
    color: #f0f0f0;
    background-image: url('/img/water-night.png');
}

.bg-image-2 {
    color: #333;
    background-image: url('/img/water-day.png');
}


/* You can add more background classes if you have more images */


/* The rest of your CSS */

/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
} */

body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

header, footer {
    text-align: center;
    padding: 1rem;
    font-weight: 100;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

h2, h1, h3, h4{
    font-weight: 100;
}
  
  header {
    text-align: center;
    padding: 1rem;
}

.header-container {
    display: inline-flex; /* Use inline-flex to center the content as a whole */
    align-items: center;
    justify-content: center; /* Center the logo and title */
}

.logo {
    height: auto;
    width: 60px; /* Adjust based on your logo's size */
    margin-right: 20px; /* Space between the logo and the title */
}

nav {
    margin-top: 1rem;
}

nav ul {
    display: inline-flex; /* Align nav items in a row */
    list-style: none;
    padding: 0;
    justify-content: center; /* Center the navigation links */
    gap: 20px; /* Space between navigation items */
}

nav ul li {
    margin: 0; /* No need for individual margin if gap is used */
}

nav ul li img {
    vertical-align: middle; /* Align the toggle dark mode icon with text links */
}

a {
    text-decoration: none;
    color: inherit;
}

.carousel {
    position: relative;
    max-width: 600px; 
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-image {
    max-width: 100%;
    display: block;
    flex: 0 0 auto;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .custom-divider {
    border: 0; /* Removes the default border */
    height: 2px; /* Sets the height of the line */
    background-color: #20B2AA; /* Sets the color of the line */
    margin: 20px 0; /* Adds some space above and below the line */
}

footer {
    color: white;
    padding: 20px 0; /* Padding above and below the content */
    text-align: center; /* Center-align the content */
}

.footer-container a {
    display: inline-block; /* Display links inline */
    margin: 0 10px; /* Spacing between links */
}

.social-icon {
    width: 30px; /* Size of the social icons */
    height: 30px; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.footer-container a:hover .social-icon {
    transform: scale(1.1); /* Slightly enlarge icons on hover */
}

