@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    font-weight: 100;
    margin: 50px;
    padding: 50px;
    transition: background-color 0.3s, color 0.3s;
}

/* Alternative background */

/* Default background */
.bg-image-0 {
    background-color: #f0f0f0;
}

/* Alternative backgrounds */
.bg-image-1 {
    color: #f0f0f0;
    background-image: url('water-night.png');
}

.bg-image-2 {
    color: #333;
    background-image: url('water-day.png');
}


/* You can add more background classes if you have more images */


/* The rest of your CSS */

/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
} */

body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

header, footer {
    text-align: center;
    padding: 1rem;
    font-weight: 100;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

h2, h1, h3, h4{
    font-weight: 100;
}
  
  header {
    text-align: center;
    padding: 1rem;
}

.header-container {
    display: inline-flex; /* Use inline-flex to center the content as a whole */
    align-items: center;
    justify-content: center; /* Center the logo and title */
}

.logo {
    height: auto;
    width: 60px; /* Adjust based on your logo's size */
    margin-right: 20px; /* Space between the logo and the title */
}

nav {
    margin-top: 1rem; /* Optional: Add some space between the header and nav */
}

nav ul {
    display: inline-flex; /* Align nav items in a row */
    list-style: none;
    padding: 0;
    justify-content: center; /* Center the navigation links */
    gap: 20px; /* Space between navigation items */
}

nav ul li {
    margin: 0; /* No need for individual margin if gap is used */
}

nav ul li img {
    vertical-align: middle; /* Align the toggle dark mode icon with text links */
}

a {
    text-decoration: none;
    color: inherit;
}

/* Ensure the rest of your CSS remains unchanged */
